---
import { Icon } from "astro-icon";
import "@fontsource/inter/variable.css";
import Playground from "../components/Playground";

const title = "Image binarization playground";
const canonicalURL = new URL(Astro.url).href;
const description =
  "A playground to test different image binarization algorithm implementations in the browser using WebAssembly.";
const author = "Kevin Zuniga Cuellar";
const twitter = "@kevinzunigacuel";
const socialImageURL = new URL("/og.png", canonicalURL).href;
const imageAlt = "Image binarization playground";
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:site_name" content={author} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content={twitter} />
    <meta name="twitter:creator" content={twitter} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content={author} />
  </head>
  <body class="bg-white flex flex-col w-full h-full">
    <main class="grow w-full flex flex-col items-center">
      <Playground client:idle />
    </main>
    <footer
      class="p-8 w-full border-t border-zinc-700 text-center shrink-1 flex justify-between items-center text-zinc-400 bg-zinc-800 gap-2"
    >
      <p class="text-left">
        Made with ❤️ at <a
          href="https://www.uvm.edu/"
          rel="nofollow"
          class="hover:underline font-semibold underline-offset-2 decoration-wavy decoration-emerald-400 text-emerald-400"
          >UVM</a
        > by
        <a
          href="https://blog.uvm.edu/lsf/the-mechanical-dielectric-and-optical-properties-of-nanocomposites/"
          class="hover:underline font-semibold underline-offset-2 decoration-wavy decoration-indigo-400 text-indigo-400"
          >Dr. Schadler's Lab</a
        >
      </p>
      <a
        class="hover:text-zinc-300 flex gap-2"
        href="https://github.com/kevinzunigacuellar/binarization-playground"
      >
        <Icon name="github" class="w-6 fill-current" />GitHub</a
      >
    </footer>
  </body>
  <script is:inline src="doxaWasm.js"></script>
  <script is:inline src="doxa.js"></script>
  <script>
    import { setStore } from "@scripts/store.js";
    // load WASM
    (() => {
      // @ts-ignore
      setStore("doxa", Doxa);
    })();
  </script>
</html>
